:root {
    --spot-green: #1DB954; /* nb. official logo is a lighter green */
    --spot-black: #191414; /* for background */
    --spot-blue: #3e5a9b; /* for button */
}
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.sidebar{
    width: 260px;
    height: 100%;
    position: fixed;
    background-color: #191414;
    padding-top: 30px;
    z-index: 1;
    left: 0;
    padding-left: 0;
    margin: 0;

}
.sidebar img{
    margin-left: 10px !important;
    justify-content: center;
    display: flex;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 150px ; 
    image-rendering: optimizeQuality;
    color: rgb(177, 172, 172);

}
.sidebar a img{
    width: 20px;
    color: #ffff;
}

.sidebar a{
    display: block;
    padding-left: 18px;
    margin-top: 20px;
    color: rgb(177, 172, 172) ;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:focus{
    
    border-left: 4px solid var(--spot-green);
    color: #ffff;
}
.player {
   display: flex;  
   
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.side{
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 100px;
}
.items:hover{
    color: #ffff;
}



#footer{
   z-index: 2;
    display: flex;
    justify-content: center;
   padding-top: 20px;
     background-color: #383535;
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
}