:root {
    --spot-green: #1DB954; /* nb. official logo is a lighter green */
    --spot-black: rgb(25, 20, 20); /* for background */
    --spot-blue: #3e5a9b; /* for button */
}
/* Bootstrap Global settings: 
"Use a native font stack that selects the best font-family for each OS and device.
For a more inclusive and accessible type scale, we use the browser’s default root font-size (typically 16px) so visitors can customize their browser defaults as needed.
Use the $font-family-base, $font-size-base, and $line-height-base attributes as our typographic base applied to the <body>.
Set the global link color via $link-color and apply link underlines only on :hover.
Use $body-bg to set a background-color on the <body> (#fff by default)." 
*/
body {
    background-color: var(--spot-black);
    font-family: 'Lato', sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}
/* cards section background */
#home-cards { 
    background-color: var(--spot-blue);
    background: var(--spot-blue);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--spot-blue), var(--spot-black));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--spot-blue), var(--spot-black)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* cards section nav */
#home-cards .topnav {
    position: relative;
    left: 50%;
    transform: translateX(-25%);
    overflow: hidden;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}
#home-cards .nav a {
    color: #979faa;
    text-align: center;
    display: block;
    text-align: center;
    padding: 1vh 1.2vw;
    text-decoration: none;
}
#home-cards a.active::before { /* section nav green border */ 
    content: "";
    opacity: 1;
    background-color: var(--spot-green);
    position: absolute;
    top: 4vh;
    left: 2.5vw;
    width: 2vw;
    height: 0.5vh;
}
#home-cards .nav a:hover, #home-cards .nav a.active {
    color: white;
}
/* cards collections */
.card-collection .allcaps { /* #THROWBACKTHURSDAY */
    padding-left: 0;
    color: white;
    font-size: 3vw; /* !!not responsive */
    font-weight: 700;
    text-transform: uppercase;
}
.card-collection .genres { /* Classifiche */
    padding-left: 0;
    color: white;
    font-size: 3vw; /* !!not responsive */
    font-weight: 700;
}
.card-collection .card {
    border: 0;
    background-color: rgba(0,0,0,0);
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}
.card-collection p {
    padding-top: 5px;
    font-weight: 700;
    font-size: 0.75rem;
}

