:root {
  --spot-green: #1db954; /* nb. official logo is a lighter green */
  --spot-black: #191414; /* for background */
  --spot-blue: #3e5a9b; /* for button */
}

body {
  background-color: var(--spot-black);
}
.container {
  background-color: white;
}
.text-center {
  text-align: center;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
form {
  display: block;
}
#btn-fb {
  background-color: var(--spot-blue);
  border-radius: 30px;
}
#btn-apple {
  background-color: var(--spot-black);
  border-radius: 30px;
}
